
@{
    ViewBag.Title = "Upcoming_Cars";
    Layout = "~/Views/Shared/View1.cshtml";
}

<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Upcoming Cars</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">As DUKO-Wheels.com is the leading automotive website in the country, you can also get first-hand knowledge of new car launch in Pakistan, and also the latest vehicles in Pakistan that are being introduced by the companies such as Honda, Toyota, KIA Motors, MG UK, and BMW. However, for all this information, you have to Subscribe to our Newsletter or can follow us to our social assets..</p>
            </div>
        </div>
    </section>
    <hr />
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-wrap -mx-4 -mb-10 text-center">
                <div class="sm:w-1/2 mb-10 px-4 shadow-md rounded border-2 border-grey-600">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="https://cache2.pakwheels.com/system/car_generation_pictures/3109/original/Honda_City_2016.jpg?1448028723">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Honda City 6th Generation</h2>
                    <p class="leading-relaxed text-base">The 6th Generation Honda City was introduced in 2015 worldwide. The 2021 Honda City is a front engine front wheel drive subcompact sedan. The 6th Generation Honda City features a revamped design language that is considerably more aerodynamically efficient compared to the previous generation, as well as a new range of more powerful, cleaner and much more efficient engines. Honda City new model launch date in Pakistan was January 2016 but Honda Atlas skip the 6th generation Honda City 2021 and directly launch the 6th Generation in 2021-20 will disclose the date as soon as the car will launch internationally.</p>
                    <br>
                    <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="https://www.pakwheels.com/new-cars/honda/city/2021/">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>

                        </a>

                    </div>
                </div>
                <div class="sm:w-1/2 mb-10 px-4 shadow-md rounded border-2 border-grey-600">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="https://cache2.pakwheels.com/system/car_generation_pictures/4886/original/Toyota_Corolla_2020.jpg?1542718504">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Toyota Corolla 2021 12th Generation</h2>
                    <p class="leading-relaxed text-base">Toyota has introduced the 12th Generation of its best selling model Toyota Corolla on its global launch at two exclusive events, California, USA and Guangzhou International Autoshow, China. Toyota Corolla 2021 is aggressively designed to stand out among its competitors. Toyota Corolla new model is designed at the Toyota New Global Architecture Platform on which other models like Prius and C-HR are also designed</p>
                    <br>
                    <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="https://www.pakwheels.com/new-cars/toyota/corolla/2021/">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>

                        </a>

                    </div>
                </div>
                <div class="sm:w-1/2 mb-10 px-4 shadow-md rounded border-2 border-grey-600">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="https://cache2.pakwheels.com/system/car_generation_pictures/5434/original/Cars-Pictures-for-Website-mg3.jpg?1614178261">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">MG 3 2021 2nd Generation</h2>
                    <p class="leading-relaxed text-base">Morris Garages (MG) Motors, a Chinese-owned British automotive company, is planning to introduce the first MG hatchback in Pakistan, the MG 3. The car is available in the international market in its 2nd generation. Javed Afridi, the owner of MG Pakistan, has teased the launch of MG 3 in Pakistan with a price tag of less than 2 million rupees. If that happens, MG 3 will be one of the most affordable hatchbacks in the country.</p>
                    <br>
                    <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="https://www.pakwheels.com/new-cars/mg/3/2021/">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>

                        </a>

                    </div>
                </div>
                <div class="sm:w-1/2 mb-10 px-4 shadow-md rounded border-2 border-grey-600">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="https://cache1.pakwheels.com/system/car_generation_pictures/5328/original/cereto-covr.jpg?1600681017">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">KIA Cerato 2021 4th Generation</h2>
                    <p class="leading-relaxed text-base">The KIA Cerato has been in production since 2003. The Korean Automaker, KIA, brands the car with different names in different regions such as Kia Spectra in the United States. Note here that the company in 2008 replaced the car with KIA Forte, but still, the vehicles are being sold with the same Cerato badge. The car will have a 1.6 Liter engine producing 123 Horse power with 154 Nm of torque. </p><br>
                    <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="https://www.pakwheels.com/new-cars/kia/cerato/2021/">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>

                        </a>
                    </div>
                </div>
                <div class="sm:w-1/2 mb-10 px-4 shadow-md rounded border-2 border-grey-600">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="https://cache4.pakwheels.com/system/car_generation_pictures/5322/original/zs-ev.jpg?1600344620">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">MG ZS EV 2021 1st Generation</h2>
                    <p class="leading-relaxed text-base">The ZS EV comes with a 44.5 kWh battery, producing a maximum 141hp at 350NM torque. This car comes with an auto CVT transmission. According to the company, ZS can travel up to 262 kilometers in a single charge. ZS EV comes with LED Daytime Running Lights, Rear Parking Sensors, LED Centre Brake Light, and Bi-Function Project Headlights.</p>
                    <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="https://www.pakwheels.com/new-cars/mg/zs-ev/2021/">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>

                        </a>
                    </div>
                </div>
                <div class="sm:w-1/2 mb-10 px-4 shadow-md rounded border-2 border-grey-600">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="https://cache3.pakwheels.com/system/car_generation_pictures/4710/original/Audi_A7.jpg?1508926097">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Audi A7 2021 2nd (4G9) Generation</h2>
                    <p class="leading-relaxed text-base">The Audi A7 is an executive car produced by Audi since 2010. A five-door liftback (also available as a three-box, four-door sedan in China since 2021), it features a sloping roofline with a steeply raked rear window and integrated boot lid (forming the so-called "Sportback"), and four frameless doors.</p><br>
                    <div class="flex items-center flex-wrap ">
                        <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="https://www.pakwheels.com/new-cars/audi/a7/2021/">
                            Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

