
@{
    ViewBag.Title = "VehicleManagement";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
body { background-image: url('VMCover.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; }
</style>

<body style="background-image: url('../../media/VMCover.jpg'); background-size:cover; background-repeat: no-repeat;">
    <div class="py-20 flex flex-wrap w-full  flex-col items-center text-center">
        <h3 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Vehicle Management</h3>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-900">Manage the Records of Vehicles Here.</p>
    </div>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -mx-4 -mb-10 text-center ">
                <div class="sm:w-1/2 mb-15 px-4 rounded border-2 border-gray-400 bg-gray-200">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-cover object-center h-full w-full" src="https://www.autovista.in/assets/img/blog/advantage_of_used_car.jpg">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Used Cars</h2>
                    <p class="leading-relaxed text-base">Pasha have expertise in developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. </p>
                    <a href="https://www.facebook.com/rehan.khalid.184881"><button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">View FB profile..</button></a>
                </div>
                <div class="sm:w-1/2 mb-15 px-4 rounded border-2 border-gray-400 bg-gray-200">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img alt="content" class="object-contain object-center h-full w-full" src="~/media/munni.jpg">
                    </div>
                    <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Eman Muneeb (C# Developer)</h2>
                    <p class="leading-relaxed text-base">Muneeb have expertise in general-purpose, multi-paradigm programming language encompassing static typing, object-oriented, and component-oriented programming disciplines..</p>
                    <a href="https://www.facebook.com/muneeb.pervaiz.752"><button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">View FB profile..</button></a>
                </div>
            </div>
        </div>
    </section>
</body>