@model IEnumerable<WebApplication1.ContactTable>

@{
    ViewBag.Title = "Complaints And FeedBack";
    Layout = "~/Views/Shared/_CEOLayout.cshtml";
}
<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="font-serif title-font mb-4 text-gray-900" style="font-size: xx-large;">~Complaints And Feedback~</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-2xl">View all the suggestion and complaints of Application Users.</p>
            </div>
        </div>
        <div class="container px-5 pb-5 mx-auto">
            <div class="flex flex-wrap -m-4">
                @foreach (var item in Model)
                {
                    <div class="p-4 lg:w-1/3">
                        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">@item.SenderEmail</h2>
                            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">@item.SenderName</h1>
                            <p class="leading-relaxed mb-3">@item.Message</p><br />
                                @Html.ActionLink("Remove❌", "DeleteFeedback", new {item.Id})
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>